# Use this bindings to don't use NNTP patch like keys
bind	index	'i'	"noop"
bind	index	'\033i'	"noop"
bind	index	'\033F'	"noop"
bind	index	'F'	"flag-message"
bind	index	'\007'	"noop"
bind	index	'\033G'	"noop"
bind	index	'\033f'	"noop"
bind	index	'P'	"noop"
bind	index	'X'	"noop"
bind	index	'y'	"noop"

bind	pager	'i'	exit
bind	pager	'\033i'	"noop"
bind	pager	'P'	"noop"
bind	pager	'F'	"flag-message"

bind	attach	'F'	"noop"
bind	attach	'\033F'	"noop"

bind	compose	"\033a"    "noop"
bind	compose	"N"    "noop"
bind	compose	"o"    "noop"
bind	compose	"x"	"noop"

bind	browser	"g"	"noop"
bind	browser	"S"    "noop"
bind	browser	"U"    "noop"
bind	browser	"y"    "noop"
bind	browser	"Y"    "noop""

# Use this bindings to use NNTP patch like keys
#bind	index	'i'	"change-newsgroup"
#bind	index	'\033i'	"change-newsgroup-readonly"
#bind	index	'\033F'	"forward-to-group"
#bind	index	'F'	"followup-message"
#bind	index	'\007'	"get-message"
#bind	index	'\033G'	"get-parent"
#bind	index	'\033f'	"flag-message"
#bind	index	'P'	"post-message"
#bind	index	'X'	"toggle-read"
#bind	index	'y'	"catchup"

#bind	pager	'i'	"change-newsgroup"
#bind	pager	'\033i'	"change-newsgroup-readonly"
#bind	pager	'F'	"followup-message"
#bind	pager	'\033F'	"forward-to-group"
#bind	pager	'\033f'	"flag-message"
#bind	pager	'P'	"post-message"

#bind	attach	'F'	"followup-message"
#bind	attach	'\033F'	"forward-to-group"

#bind	compose	"\033a"    "attach-news-message"
#bind	compose	"N"    "edit-newsgroups"
#bind	compose	"o"    "edit-followup-to"
#bind	compose	"x"	"edit-x-comment-to"

#bind	browser	"g"	"reload-active"
#bind	browser	"S"    "subscribe-pattern"
#bind	browser	"U"    "unsubscribe-pattern"
#bind	browser	"y"    "catchup"
#bind	browser	"Y"    "uncatchup"
